:root {
  --text-colour: #757575;
  --primaty-header-colour: #212121;
  --secondary-header-colour: #ffffff;
  --accent-colour: #2196f3;
  --primary-backround-colour: #ffffff;
  --secondary-backround-colour: #f5f4fa;
  --logo-colour: #000000;
  --gap: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-colour);
  background-color: var(--backround-colour);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primaty-header-colour);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 94px 0;
}

/* --------------------------------------STUDIO----------------------------------------------- */
/* ---------------------------HEADER--------------------------- */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.header-nav,
.header-list {
  display: flex;
  column-gap: 50px;
}
.header-list {
  margin-left: auto;
  align-items: center;
}
.header-logo {
  margin-right: 93px;
}
.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-colour);
}
.header-contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header-link,
.header-contact {
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primaty-header-colour);
}
.header-link { 
  display: block;
}
.header-icon { 
  fill: currentColor;
}
.header-contact {
  color: var(--text-colour);
} 
.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus,
.adress-link:hover,
.adress-link:focus,
.adress-item-link:hover,
.adress-item-link:focus,
.subject,
.current {
  color: var(--accent-colour);
}

/* ---------------------------HERO-------------------------- */
.hero {
  padding: 200px 0;

  max-width: 1600px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;

  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-header-colour);
}

.hero-btn {
  display: block;
  margin: 0 auto;

  min-width: 216px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--secondary-backround-colour);
  background-color: var(--accent-colour);

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ---------------------------BENEFITS-------------------------- */
.benefits-list {
  display: flex;
  column-gap: var(--gap);
}
.benefits-items {
  flex-basis: calc((100% - 90px) / 4);
}
.benefits-card { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  width: 270px;
  height: 120px;
  background-color: var(--secondary-backround-colour);
  border-radius: 4px;
}
.benefits-subtitle {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primaty-header-colour);
}
.benefits-text {
  line-height: 1.71;
}

/* ---------------------------ABOUT-------------------------- */
.about-list,
.team-list {
  display: flex;
  column-gap: var(--gap);
  justify-content: space-between;
}
.about {
  padding-top: 0;
}
/* ---------------------------TEAM------------------------- */
.team {
  background-color: var(--secondary-backround-colour);
}
.team-item {
  background-color: var(--primary-backround-colour);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-employee {
  padding: 30px;

}
.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primaty-header-colour);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.team-sm, 
.footer-sm{ 
  display: flex;
  justify-content: center;
  column-gap:10px; 
}
.team-sm-item { 
  width: 44px;
  height: 44px;
}
.team-sm-link,
.footer-sm-link { 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.team-sm-link { 
  color:#AFB1B8;
  fill: currentColor
}

.team-sm-link:hover, 
.team-sm-link:focus{ 
  background-color: var(--accent-colour);
  fill: var(--secondary-header-colour);
}
/* ---------------------------CLIENTS------------------------- */
.clients-list {
  display: flex;
  justify-content: center;
  column-gap:var(--gap);
}
.clients-items { 
  width: 170px;
  height: 92px;
}
.cliens-link { 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
}
.cliens-link:hover,
.cliens-link:focus { 
  fill: var(--accent-colour);
  border: 1px solid var(--accent-colour);
}
/* ---------------------------FOOTER------------------------- */
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer-container { 
  display: flex;
  column-gap: 70px;
  align-items: baseline
}
.footer-logo {
  color: var(--secondary-header-colour);
}
.adress {
  margin-top: 20px;
}
.adress-item:not(:last-child) { 
  margin-bottom: 9px;
}
.adress-link,
.adress-item-link {
  font-style: normal;
  line-height: 1.71;
  color: var(--secondary-header-colour);
}
.adress-item-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-subtitle { 
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-header-colour); 
}
.footer-sm-item { 
  width: 44px;
  height: 44px;
}
.footer-sm-link { 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-header-colour);
  fill: currentColor
}

.footer-sm-link:hover, 
.footer-sm-link:focus{ 
  background-color: var(--accent-colour);
  fill: var(--secondary-header-colour);
}

/* --------------------------------------PORTFOLIO----------------------------------------------- */
.portfolio-filter-list {
  display: flex;
  justify-content: center;
}
.portfolio-filter:not(:last-child) {
  margin-right: 8px;
}
.portfolio-btn {
  height: 38px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primaty-header-colour);
  background-color: var(--secondary-backround-colour);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-colour);
  color: var(--secondary-header-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-link:hover,
.portfolio-link:focus { 
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.potrfolio-text {
  border: 1px solid #eeeeee;
  border-top: 0;
}
.portfolio-title {
  margin-bottom: 4px;

  font-style: normal;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primaty-header-colour);
}
.portfolio-subtitle {
  font-size: 16px;
  line-height: 1.8;
  color: var(--text-colour);
}
.portfolio-filter-list {
  margin-bottom: 50px;
}
.potrfolio-text {
  padding: 20px 24px;
}
